@page "/counter"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using Fluxor
@inject IState<BlazorDemo.Store.CounterState> CounterState
@inject IDispatcher Dispatcher

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount => CounterState.Value.Count;

    private void IncrementCount()
    {
        //currentCount++;
        Dispatcher.Dispatch(new BlazorDemo.Store.AddCounter());
    }
}
